$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

.dash-signup-btn {
  background-color: $light-blue;
  border-radius: 10px;
  margin-bottom: 100px;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  padding: 1em 1.5em;
  margin: 0 auto;
  letter-spacing: 2px;
  text-decoration: none;
  align: center;
  width: 60%;
}

.dashboard {
  display: flex;
  justify-content: flex-start;
}

.dashboard-sidebar {
  padding: 20px;
  width: 30%;
  margin-left: 20px;
}
.dashboard-sidebar h2 {
  color: $darkest-blue;
}

.dashboard-events {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.host-events {
  padding: 10px;
  margin: 20px;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ind-host-events {
  display: flex;
  flex-direction: row;
}

.big-dotted-btn {
  border: dotted black;
  width: 250px;
}

.big-dtd-btn-txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  text-align: center;
}
.big-dtd-btn-txt h1 {
  margin: 0 auto 12px auto;
  font-size: 50px;
}
.big-dtd-btn-txt h3 {
  text-align: center;
  margin: 10px;
  font-size: 25px;
}
