$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;
$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

.home-bkgd {
  background-color: $light-gray;
}

.splash-graphic {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  height: 420px;
  background-image: url(https://res.cloudinary.com/appacademy/image/upload/v1489883471/rws_d24o9k.jpg);
  background-size: cover;
}

.splash-text{
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 150px;
}

.splash-text h1 {
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.splash-text span {
  font-family: sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.lets-run-btn {
  background-color: $light-blue;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 100px;
  color: white;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding: 1em 1.5em;
  margin: 0 0 0.8125em 0;
  letter-spacing: 2px;
  text-decoration: none;
  align: center;
  width: 50%;
}

.mid-page-content {
  margin: 35px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  padding: 30px;
}
.mid-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px;
}
.mid-text {
  padding: 75px;
  width: 450px;
}
.mid-page-content h1 {
}
.mid-page-content h2 {
  color: $blue;
  font-weight: bold;
}
.mid-page-content h3 {
  text-align: center;
}
.mid-page-content p {
  font-size: 20px;
}.mid-page-content img {
  width: 450px;
  height: 300px;
}
